<div class="jumbotron text-center">
    <h1>{{vm.title}}</h1>

    <p>list of accounts</p>
</div>

<div class="col-xs-12">
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <h3 class="panel-title col-xs-4">Accounts</h3>
            <div class="btn-group pull-right" role="group">
                <a style="color: white;" ng-click="vm.createNewAccount()">New Account</a>
            </div>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-condensed table-hover">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Fax</th>
                        <th>Site</th>
                        <th>Address1</th>
                        <th>Address2</th>
                        <th>City</th>
                        <th>Zip</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="account in vm.accounts">
                        <td>{{account.name}}</td>
                        <td>{{account.phone}}</td>
                        <td>{{account.fax}}</td>
                        <td>{{account.site}}</td>
                        <td>{{account.address1}}</td>
                        <td>{{account.address2}}</td>
                        <td>{{account.city}}</td>
                        <td>{{account.zip}}</td>
                        <td><i class="fa fa-edit clickable" ng-click="vm.editAccount()" popover="edit" popover-trigger="mouseenter"/></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>