<div class="form-group col-xs-4">
    <label class="control-label">Street</label>
    <input name="street" type="text" class="form-control" placeholder="street" ng-model="vm.loanApp.street" required>
</div>
<div class="form-group col-xs-4">
    <label class="control-label">City</label>
    <input name="city" type="text" class="form-control" placeholder="city" ng-model="vm.loanApp.city" required>
</div>
<div class="form-group col-xs-4">
    <label class="control-label">State</label>
    <input name="state" type="text" class="form-control" placeholder="state" ng-model="vm.loanApp.state" required>
</div>
<div class="form-group col-xs-4">
    <label class="control-label">Postal Code</label>
    <input name="postalCode" type="text" class="form-control" placeholder="postal code" ng-model="vm.loanApp.zip" required>
</div>