<div class="form-group col-xs-4">
    <label class="control-label">First Name</label>
    <input name=" firstName" type="text" class="form-control" placeholder="first name" ng-model="vm.loanApp.firstName" required>
</div>
<div class="form-group col-xs-4">
    <label class="control-label">Last Name</label>
    <input name="lastName" type="text" class="form-control" placeholder="last name" ng-model="vm.loanApp.lastName" required>
</div>
<div class="form-group col-xs-4">
    <label class="control-label">Email</label>
    <input name="email" type="text" class="form-control" placeholder="first name" ng-model="vm.loanApp.email" required>
</div>