<style type="text/css">
    glyphicon-chevron-up:before {
        content: "\e113"
    }
    glyphicon-chevron-down:before {
        content: "\e114"
    }
</style>

<div class="container col-xs-4 col-xs-offset-4">
    <form name="generalForm" novalidate>
    <div class="panel panel-primary ">
        <div class="panel-heading">General Information Form</div>
        <div class="panel-body ">
            <!--<form name="ngform" sf-model="vm.criteria" sf-form="vm.form" sf-schema="vm.schema"></form>-->
            
                    <p class="row">
                        
                        <div class="col-sm-12 form-group">
                            <label>Occupancy</label>
                            <select ng-model="vm.occupancy" class="form-control">
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                            </select>
                        </div>
            
                        <div class="col-sm-12 form-group">
                            <label>Property Type</label>
                            <select ng-model="vm.type" class="form-control">
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                            </select>
                        </div>
                        
                        <div class="col-sm-12 form-group">
                            <label>Purpose</label>
                            <select ng-model="vm.purpose" class="form-control">
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                            </select>
                        </div>
            
                        <div class="col-sm-12 form-group">
                            <label>Down Payment</label>
                            <input ng-model="vm.dp" type="text" name="dp" class="form-control">
                            <p ng-show="generalForm.dp.$invalid && !generalForm.dp.$pristine" class="help-block">Down Payment is required.</p>
                        </div>
            
                        <div class="col-sm-12 form-group">
                            <label>State</label>
                            <select ng-model="vm.state" class="form-control">
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                            </select>
                        </div>
            
                        <div class="col-sm-12 form-group">
                            <label>Zip</label>
                            <input ng-model="vm.zip" type="text" name="zip" class="form-control">
                            <p ng-show="generalForm.zip.$invalid && !generalForm.zip.$pristine" class="help-block">Zip is required.</p>
                        </div>
            
                        <div class="col-sm-12 form-group">
                            <label>Credit Score</label>
                            <input ng-model="vm.cScore" type="text" name="cs" class="form-control">
                            <p ng-show="generalForm.cs.$invalid && !generalForm.cs.$pristine" class="help-block">Credit Score is required.</p>
                        </div>
            
                        <div class="col-sm-12 form-group">
                            <label>Estimated Value</label>
                            <input ng-model="vm.eVal" type="text" name="ev" class="form-control">
                            <p ng-show="generalForm.ev.$invalid && !generalForm.ev.$pristine" class="help-block">Estimated Value is required.</p>
                        </div>
            
                        <div class="col-sm-12 form-group">
                            <label>Loan Amount</label>
                            <input ng-model="vm.lAmt" type="text" name="lAmt" class="form-control">
                            <p ng-show="generalForm.lAmt.$invalid && !generalForm.lAmt.$pristine" class="help-block">Loan Amount is required.</p>
                        </div>
                    
            <!-- 
            
                        <div class="col-sm-12">
                            <label>
                                <input type="checkbox" class="form-control.input-md">
                                &nbsp;Checkbox 1
                            </label>
                        </div>
                
                        <div class="col-sm-12">
                            <p>Gender: </p>
                            <label>
                            <input type="radio" ng-model="vm.gender" value="male"/>
                            &nbsp;Male</label>
                            <label>
                            <input type="radio" ng-model="vm.gender" value="female"/>
                            &nbsp;Female</label>                            
                        </div>
            
            -->
                        
                    </p>
        </div>
        
                    <div class="panel-footer clearfix">
                        <button type="submit" class="btn btn-primary pull-right" ng-disabled="userForm.$invalid">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>