<style type="text/css">
    .padLeftRight {
        padding-left: 10px;
        padding-right: 10px;
    }

</style>

<div class="panel panel-primary">
    <div class="panel-heading">Quick Search Config</div>

    <!--<form name="ngform" sf-model="vm.criteria" sf-form="vm.form" sf-schema="vm.schema"></form>-->
    <form name="ngform" novalidate>
        <div class="panel-body">

            <div class="row">
                <div class="form-group col-md-6">
                    <input type="text" placeholder="Header" class="form-control col-md-6" ng-model="vm.header">
                </div>
            </div>

            <div ng-repeat="box in vm.formFields track by $index">
                <div class="row">
                    <div class="form-group col-sm-6">
                        <input type="text" ng-model="box.templateOptions.label" class="form-control">
                    </div>

                    <div class="form-group col-sm-6">
                        <a ng-click="vm.moveRowUp($index)" class="btn btn-default ">
                            <span class="glyphicon glyphicon-chevron-up"></span>
                        </a>
                        <a ng-click="vm.moveRowDown($index)" class="btn btn-default " style="margin-right:15px;">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                        <span class="padLeftRight">
                            <label>
                                <input type="checkbox" ng-click="vm.setPreview(box.templateOptions.order)" class="form-control.input-md ">&nbsp;Hide
                            </label>
                        </span>
                        <span ng-hide="!box.templateOptions.options">
                            <button type="button" class="btn btn-default" ng-click="vm.toggleOptions($index)">Options</button>
                        </span>

                    </div>

                    <div class="form-group col-sm-12" ng-hide="!vm.optionsVisible[$index]">
                        <div ng-repeat="option in box.templateOptions.options track by $index">
                            <span class="padLeftRight">
                                <label>
                                    <input type="checkbox" ng-model="vm.formFields[$parent.$index].templateOptions.options[$index].visible" class="form-control.input-md ">&nbsp;{{option.label}}
                                </label>
                            </span>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <input type="text" placeholder="Footer" class="form-control" ng-model="vm.footer">
                </div>
            </div>


        </div>
        <div class="panel-footer clearfix">
            <button type="button" class="btn btn-default pull-left">Reset Form</button>
        </div>
    </form>

</div>
