<style type="text/css">
    .padLeftRight {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .qsInputsConfig label {
        font-weight: normal !important;
    }

</style>

<div class="panel panel-primary qsInputsConfig">
    <div class="panel-heading">Quick Search Config</div>

    <div class="panel-body">
        <form name="vm.formState.inputsForm" novalidate>
            <div class="row">
                <div class="form-group col-md-6">
                    <input type="text" placeholder="Header" class="form-control col-md-6" ng-model="vm.data.form.header" ng-change="$root.isDirty = true">
                </div>
            </div>

            <div ng-repeat="box in vm.fields track by $index">
                <div class="row">
                    <div class="col-sm-6">
                        <div ng-hide="!box.templateOptions.options" class="input-group">
                            <input type="text" ng-model="box.templateOptions.label" ng-change="vm.updatePreview(); vm.fieldChanged(box.templateOptions);" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"
                                        ng-click="box.templateOptions.showOptions = !box.templateOptions.showOptions">
                                    <i class="fa fa-lg"
                                       ng-class="box.templateOptions.showOptions ? 'fa-angle-double-up' : 'fa-angle-double-down'"></i>
                                </button>
                          </span>
                        </div>
                        <div ng-hide="box.templateOptions.options" class="form-group">
                            <input type="text" ng-model="box.templateOptions.label" ng-change="vm.updatePreview(); vm.fieldChanged(box.templateOptions);" class="form-control">
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <span class="padLeftRight">
                            <label>
                                <input type="checkbox" ng-model="box.templateOptions.visible"
                                       ng-change="vm.updatePreview(); vm.fieldChanged(box.templateOptions);"
                                       class="form-control.input-md" ng-disabled="box.templateOptions.required">&nbsp;Include
                            </label>
                        </span>
                        <span class="padLeftRight">
                            <label>
                                <input type="checkbox" ng-model="box.templateOptions.required"
                                       ng-change="vm.updatePreview(); vm.fieldChanged(box.templateOptions);"
                                       class="form-control.input-md" ng-disabled="!box.templateOptions.visible">&nbsp;Required
                            </label>
                        </span>
                        <a ng-click="vm.moveRowUp($index)" class="btn btn-default ">
                            <span class="glyphicon glyphicon-chevron-up"></span>
                        </a>
                        <a ng-click="vm.moveRowDown($index)" class="btn btn-default " style="margin-right:15px;">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                    </div>
                    <div class="col-xs-12" ng-hide="!box.templateOptions.showOptions">
                        <div class="col-xs-12">
                            <label class="col-xs-2 col-sm-2 col-md-2 col-lg-1">Default</label>
                            <label class="col-xs-2 col-sm-2 col-lg-1">Include</label>

                            <div ng-if="box.key === 'creditScore'">
                                <label class="col-xs-3 col-sm-2 col-md-2 col-lg-2">Value</label>
                                <label class="col-xs-4">Label</label>
                            </div>
                        </div>
                        <div ng-repeat="option in box.templateOptions.options.$values">
                            <div class="col-xs-12">
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-1" ng-class="box.key === 'creditScore' ? 'checkbox' : ''">
                                    <label>
                                        <input type="checkbox" ng-model="option.selected" ng-change="vm.updateOptionDefault(box, option);" class="form-control.input-md" />
                                    </label>
                                </div>
                                <div class="col-xs-6 col-lg-3" ng-if="box.key != 'creditScore'">
                                    <label>
                                        <input type="checkbox" ng-model="option.visible" ng-change="vm.updatePreview(); vm.optionChanged(option); vm.fieldChanged(box.templateOptions);" class="form-control.input-md "> {{option.name}}
                                    </label>
                                </div>
                                <div ng-if="box.key === 'creditScore'">
                                    <div class="col-xs-2 col-md-2 col-lg-1 checkbox">
                                        <label>
                                            <input type="checkbox" ng-model="option.visible" ng-change="vm.updatePreview(); vm.optionChanged(option); vm.fieldChanged(box.templateOptions);" class="form-control.input-md ">
                                        </label>
                                    </div>

                                    <div class="col-xs-3 col-md-2 col-lg-2">
                                        <div class="form-group">
                                            <label class="sr-only"></label>
                                            <input type="text" ng-model="option.value" class="form-control" ng-change="vm.updatePreview(); vm.optionChanged(option); vm.fieldChanged(box.templateOptions);">
                                            </input>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label class="sr-only"></label>
                                            <input type="text" ng-model="option.name" class="form-control" ng-change="vm.updatePreview(); vm.optionChanged(option); vm.fieldChanged(box.templateOptions);" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-md-4 col-lg-3 form-group">
                                    <a ng-click="vm.moveOptionUp(box, $index)" class="btn btn-default">
                                        <span class="glyphicon glyphicon-chevron-up"></span>
                                    </a>
                                    <a ng-click="vm.moveOptionDown(box,$index)" class="btn btn-default" style="margin-right:15px;">
                                        <span class="glyphicon glyphicon-chevron-down"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <input type="text" placeholder="Footer" class="form-control" ng-model="vm.data.form.footer" ng-change="$root.isDirty = true">
                </div>
            </div>

        </form>
    </div>
    <div class="panel-footer">
        <button ng-click="vm.resetForm()" type="button" class="btn btn-default">Reset Form</button>
    </div>

</div>
