<div>

    <div class="col-lg-9 visible-lg">

        <ul class="nav nav-wizard">
            <li><a href="#">General Info</a></li>
            <li ng-class="vm.state === 'quickSearchConfigInputs' ? 'active' : ''"><a href="#">Inputs</a></li>
            <li ng-class="vm.state === 'quickSearchConfigDefaults' ? 'active' : ''"><a href="#">Defaults</a></li>
            <li><a href="#">Filters</a></li>
            <li><a href="#">Loan Officers</a></li>
            <li><a href="#">Results</a></li>
        </ul>

    </div>

    <div class="col-xs-3 visible-lg">
        <ng-include class="pull-right" src="'app/quickSearchConfig/views/partials/wizardButtons.html'"></ng-include>
    </div>

    <div class="col-xs-8 hidden-lg">
        <ol class="breadcrumb qsCrumbs">
            <li><a ui-sref="#">General Info</a></li>
            <li ng-class="vm.state === 'quickSearchConfigInputs' ? 'active' : ''">Inputs</li>
            <!--<li ng-class="1 == 1 ? 'active' : ''">Inputs</li>-->
            <li ng-class="vm.state === 'quickSearchConfigDefaults' ? 'active' : ''">Defaults</li>
            <li><a ui-sref="products">Filters</a></li>
            <li><a ui-sref="#">Loan Officers</a></li>
            <li><a ui-sref="#">Results</a></li>
        </ol>
    </div>

    <div class="col-xs-4 hidden-lg">
        <ng-include class="pull-right" src="'app/quickSearchConfig/views/partials/wizardButtons.html'"></ng-include>
    </div>
</div>