<style type="text/css">
    .hidePadding {
        padding-top: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .qsResultsConfig label {
        font-weight: normal !important;
    }

</style>

<div class="panel panel-primary qsResultsConfig">
    <div class="panel-heading">Results Config</div>

    <!--<form name="ngform" sf-model="vm.criteria" sf-form="vm.form" sf-schema="vm.schema"></form>-->
    <form name="vm.formState.resultsForm" novalidate>
        <div class="panel-body">

            <div ng-repeat="box in vm.formFields track by $index">
                <div class="row">
                    <div class="form-group col-sm-6">
                        <input type="text" ng-model="box.templateOptions.label" ng-change="vm.updatePreview()" class="form-control">
                    </div>

                    <div class="hidePadding form-group col-sm-6">

                        <!--
                        <a ng-click="vm.moveRowUp($index)" class="btn btn-default ">
                            <span class="glyphicon glyphicon-chevron-up"></span>
                        </a>
                        <a ng-click="vm.moveRowDown($index)" class="btn btn-default " style="margin-right:15px;">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                        -->
                        <span class="">
                            <label>
                                <input type="checkbox" ng-click="vm.setPreview($index)" class="form-control.input-md ">&nbsp;Hide
                            </label>
                        </span>

                    </div>
                </div>
            </div>

        </div>
        <div class="panel-footer clearfix">
            <button type="button" class="btn btn-default pull-left">Reset Form</button>
        </div>
    </form>

</div>
