<div class="panel panel-primary results-height" id="resultsPanel">
    <div class="panel-heading">Results Preview</div>
    <div class="panel-body">

        <accordion close-others="true" class="col-xs-12">
            <accordion-group ng-repeat="type in vm.searchResults" is-open="type.status.open">
                <accordion-heading>
                    {{type.title}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': type.status.open, 'glyphicon-chevron-right': !type.status.open}"></i>
                </accordion-heading>
                <div class="table-responsive">
                    <table class="table table-condensed table-hover">
                        <thead>
                            <tr>
                                <th ng-repeat="field in vm.formFields" ng-hide="!field.templateOptions.visible">{{field.templateOptions.label}}</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr ng-repeat="item in type.items">
                                <td ng-repeat="field in vm.formFields track by $index" ng-hide="!field.templateOptions.visible">{{item[field.key]}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </accordion-group>
        </accordion>


    </div>
</div>
