<div class="panel panel-primary results-height">
    <div class="panel-heading">Results Config</div>
    <form name="vm.formState.resultsForm" novalidate>
        <div class="panel-body">
            <div ng-repeat="box in vm.formFields">
                <div class="row">
                    <div class="form-group col-sm-6">
                        <input type="text" ng-model="box.templateOptions.label" ng-change="$root.isDirty = true; box.templateOptions.isDirty = true;" class="form-control">
                    </div>

                    <div class="hidePadding form-group col-sm-6">
                        <span>
                            <label class="label-soft">
                                <input type="checkbox" ng-model="box.templateOptions.visible" class="form-control.input-md" ng-change="$root.isDirty = true; box.templateOptions.isDirty = true;">&nbsp;Include
                            </label>
                        </span>

                    </div>
                </div>
            </div>
            <div class="form-group col-xs-12 row">
                <label>Apply Now Text</label>
                <input type="text" ng-model="vm.data.form.applyNowText" ng-change="$root.isDirty = true;" class="form-control">
            </div>
            <div class="form-group col-xs-12 row">
                <label>Apply Now URL</label>
                <input type="text" ng-model="vm.data.form.applyNowUrl" ng-change="$root.isDirty = true;" class="form-control">
            </div>
            <div class="form-group col-xs-12 row">
                <label>Disclaimer</label>
                <textarea ng-model="vm.data.form.disclaimerText" ng-change="$root.isDirty = true;" class="form-control" rows="3"></textarea>
            </div>
        </div>
        <div class="panel-footer clearfix">
            <button type="button" class="btn btn-default" ng-click="vm.resetForm()">Reset Form</button>
        </div>
    </form>

</div>
