<div>
    <div class="well qsSteps col-xs-10 col-xs-offset-1">
        <ng-include src="vm.navigationUrl()"></ng-include>
    </div>
</div>

<div class="well col-xs-10 col-xs-offset-1">
    <div class=" col-xs-12">
        <form name="vm.formState.defaultsForm" novalidate>
            <div class="panel panel-primary">
                <div class="panel-heading clearfix">
                    <div class="col-xs-10">
                        <h3 class="panel-title">Default Information Form</h3>
                    </div>
                    <div class="col-xs-2 text-right">
                        <a class="clickable" ng-click="vm.toggleSections()" style="color: #FFFFFF">Toggle All
                            <i class="glyphicon"
                               ng-class="{'glyphicon-chevron-down': vm.sectionsOpen, 'glyphicon-chevron-right': !vm.sectionsOpen}"></i>
                        </a>
                    </div>
                </div>
                <div class="panel-body">
                    <formly-form model="vm.model" fields="vm.fields"></formly-form>
                </div>
                <div class="panel-footer">
                    <button type="button" class="btn btn-default">Reset</button>
                </div>
            </div>
        </form>
    </div>
</div>
