<!--TODO: DH-->
<div class="col-xs-10 col-xs-offset-1">
    <div class="panel-body clearfix text-center col-xs-offset-2">
        <div id="status-buttons" class="text-center">
            <a class="active"><span>&nbsp;</span>Inputs</a>
            <a><span>&nbsp;</span>Defaults</a>
            <a><span>&nbsp;</span>Products</a>
            <a><span>&nbsp;</span>Loan Officers</a>
            <a><span>&nbsp;</span>Results</a>
        </div>
        <ng-include class="pull-right" src="'app/quickSearchConfig/views/partials/wizardButtons.html'"></ng-include>
    </div>
</div>

<div class="well col-xs-10 col-xs-offset-1">

    <div class="col-xs-8">
        <ng-include src="'app/quickSearchConfig/views/partials/configForm.html'"></ng-include>
    </div>

    <div class="col-xs-4">
        <ng-include src="'app/quickSearchConfig/views/partials/previewForm.html'"></ng-include>
    </div>

</div>
