<style type="text/css">
    glyphicon-chevron-up:before {
        content: "\e113"
    }
    glyphicon-chevron-down:before {
        content: "\e114"
    }
</style>

<div class="col-xs-6">
    <div class="panel panel-primary">
        <div class="panel-heading">Quick Search Config</div>
        <div class="panel-body">
            <!--<form name="ngform" sf-model="vm.criteria" sf-form="vm.form" sf-schema="vm.schema"></form>-->
            <form name="ngform" novalidate>
                <div ng-repeat="box in vm.configFields track by $index">
                    <p>                    
                    <label>
                        <input type="checkbox" ng-model="box.visible" ng-click="vm.setPreview($index)">&nbsp;{{box.label}}
                    </label>
                    <a ng-click="vm.moveRowUp($index)" class="btn btn-default pull-right"> 
                        <span class="glyphicon glyphicon-chevron-up"></span>
                    </a>
                    <a ng-click="vm.moveRowDown($index)" class="btn btn-default pull-right" style="margin-right:15px;"> 
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                    </p>
                </div>
            </form>
        </div>
        <div class="panel-footer clearfix">
            <button type="submit" class="btn btn-primary pull-right" ng-click="vm.submit()"
                    ng-disabled="ngform.$invalid" du-smooth-scroll="searchResults" du-scrollspy>Submit
            </button>
        </div>
    </div>
</div>