<div class="col-lg-12">
  <div class="panel panel-primary">
        <div class="panel-heading">Modal</div>
        <div class="panel-body">
            <div ng-controller="obuiModalController as vm">
                <script type="text/ng-template" id="myModalContent.html">
                    <div class="modal-header">
                        <h3 class="modal-title">I'm a modal!</h3>
                    </div>
                    <div class="modal-body">
                        <ul>
                            <li ng-repeat="item in vm.items">
                                <a ng-click="vm.selected.item = item">{{ item }}</a>
                            </li>
                        </ul>
                        Selected: <b>{{ vm.selected.item }}</b>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" ng-click="vm.ok()">OK</button>
                        <button class="btn btn-warning" ng-click="vm.cancel()">Cancel</button>
                    </div>
                </script>

                <button class="btn btn-default" ng-click="vm.open()">Open me!</button>
                <button class="btn btn-default" ng-click="vm.open('lg')">Large modal</button>
                <button class="btn btn-default" ng-click="vm.open('sm')">Small modal</button>
                <button class="btn btn-default" ng-click="vm.toggleAnimation()">Toggle Animation ({{ vm.animationsEnabled }})</button>
                <hr>
                <div ng-show="vm.selected">Selection from a modal: {{ vm.selected }}</div>
            </div>
        </div>
  </div>
</div>