<div class="jumbotron text-center">
    <h1>{{vm.title}}</h1>
    <p>Optimal Blue UI - {{vm.desc}}</p>
</div>
<ng-include src=" 'app/obui/views/accordion.html' "></ng-include>
<ng-include src=" 'app/obui/views/alert.html' "></ng-include>
<ng-include src=" 'app/obui/views/buttons.html' "></ng-include>
<ng-include src=" 'app/obui/views/carousel.html' "></ng-include>
<ng-include src=" 'app/obui/views/collapse.html' "></ng-include>
<ng-include src=" 'app/obui/views/datepicker.html' "></ng-include>
<ng-include src=" 'app/obui/views/dropdown.html' "></ng-include>
<ng-include src=" 'app/obui/views/modal.html' "></ng-include>
<ng-include src=" 'app/obui/views/pagination.html' "></ng-include>