<div class="col-lg-12">
  <div class="panel panel-primary">
        <div class="panel-heading">Pagination</div>
        <div class="panel-body">
            <div ng-controller="obuiPaginationController as vm">
                <h4>Default</h4>
                <pagination total-items="vm.totalItems" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></pagination>
                <pagination boundary-links="true" total-items="vm.totalItems" ng-model="vm.currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                <pagination direction-links="false" boundary-links="true" total-items="vm.totalItems" ng-model="vm.currentPage"></pagination>
                <pagination direction-links="false" total-items="vm.totalItems" ng-model="vm.currentPage" num-pages="vm.smallnumPages"></pagination>
                <pre>The selected page no: {{vm.currentPage}}</pre>
                <button class="btn btn-info" ng-click="vm.setPage(3)">Set current page to: 3</button>

                <hr />
                <h4>Pager</h4>
                <pager total-items="vm.totalItems" ng-model="vm.currentPage"></pager>

                <hr />
                <h4>Limit the maximum visible buttons</h4>
                <pagination total-items="vm.bigTotalItems" ng-model="vm.bigCurrentPage" max-size="vm.maxSize" class="pagination-sm" boundary-links="true"></pagination>
                <pagination total-items="vm.bigTotalItems" ng-model="vm.bigCurrentPage" max-size="vm.maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="vm.numPages"></pagination>
                <pre>Page: {{vm.bigCurrentPage}} / {{vm.numPages}}</pre>
            </div>
        </div>
  </div>
</div>