<div class="col-lg-12">
  <div class="panel panel-primary">
        <div class="panel-heading">Timepicker</div>
        <div class="panel-body">
            <div ng-controller="obuiTimepickerController as vm">
                <timepicker ng-model="vm.mytime" ng-change="vm.changed()" hour-step="vm.hstep" minute-step="vm.mstep" show-meridian="vm.ismeridian"></timepicker>

                <pre class="alert alert-info">Time is: {{vm.mytime | date:'shortTime' }}</pre>

                <div class="row"> 
                  <div class="col-xs-6">
                      Hours step is:
                    <select class="form-control" ng-model="vm.hstep" ng-options="opt for opt in vm.options.hstep"></select>
                  </div>
                  <div class="col-xs-6">
                      Minutes step is:
                    <select class="form-control" ng-model="vm.mstep" ng-options="opt for opt in vm.options.mstep"></select>
                  </div>
                </div>

                <hr>

                <button class="btn btn-info" ng-click="vm.toggleMode()">12H / 24H</button>
                <button class="btn btn-default" ng-click="vm.update()">Set to 14:00</button>
                <button class="btn btn-danger" ng-click="vm.clear()">Clear</button>

              </div>
        </div>
  </div>
</div>